/* ====== VAR ====== */

$primary-color: white;
$secondary-color: #efefef;
$tertiary-color: grey;
$quaternary-color: gold;
$quinary-color: black;
$senary-color: lightyellow;
$septenary-color: rgba(0,0,0, 0.4);

$font-stack: "Futura",Arial, Helvetica, sans-serif;
$base-font-size: 1.1em;